
.node circle {
	stroke: tomato;
	stroke-width: 1px;
	fill: tomato;
	fill-opacity: 0.7;
} 

.node text {
	display: none;
	font: 10px sans-serif;
	pointer-events: none;
	fill: #333;
}

.node:hover circle {
	fill-opacity: 1;
}

.node:hover text {
	display: inline;
}

.link {
	stroke: #777;
	opacity: 0.7;
}

